.arrow-img {
  height: 25px;
}

.list-item {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  color: #475569;
}

.button {
  background-color: transparent;
  border-style: none;
}
